<div class="intro">
<head>
<h1>Welcome to Maher Mobile</h1>
<img src="/assets/banner.jpg" alt="phone_1" style="width:100%">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide(1000);
    alert("The paragraph is now hidden");
  });
});
</script>
</head>
<body>

<button>Hide</button>
<p>Phones get better and more feature-rich by the day – but picking a model and a tariff to go with it has never been more difficult. And that’s where Maher Phones truly comes into its own. 

We can connect you quickly and simply to all major operators – but we are not tied to any of them, so are free to recommend the best value for YOU. 

The bottom line is that we can make sure that you get the best possible deal when it comes to your monthly bill. We also offer great value on handsets and devices, thanks to the enormous buying power of The Maher Phones Group.

On 10th of March 2019, Maher Phones officially became a leading phone business. Maher Phones, which now has 119 stores nationwide and employs 1,050 staff in the Republic of Ireland. Together, we are now one of the leading retailers in Ireland.

We’re also highly ambitious, and are currently in the process of developing a €6m data centre that will power our exciting new next generation mobile operator later in 2015. It’s designed to service today’s data hungry mobile customer, and we hope to capture 6% of the Irish market within just five years. 
 
This is a far cry from 2018, when we opened a single store on Dublin’s Grafton Street. Just six months later, we opened our 20th store, and today, you’ll find us in every major town and city throughout the country.

With almost 20 years' of experience in the Irish market, we know that no two customers have exactly the same needs and the same preferences when it comes to mobile phones, so we have invested heavily to ensure that we always carry the widest possible choice of handsets. If you can’t find it here, it probably doesn’t exist!

But don’t worry – you won’t be confused by the huge array of models on offer, because we excel at providing the sort of helpful, practical advice that helps you narrow down your search – getting to the heart of what you really need to make the most of your mobile life. 

Our Geek Squad have personal, hands-on experience of just about every phone on the market, and just love to share their knowledge with you. They’ll also give you frank and honest advice about topics like insurance and so-called ‘unlimited data’ – two areas that can be a minefield for the unwary. And after you’ve finally made your choice – and walked out of the store with your phone working, if you like – you have the peace of mind of knowing that we offer a superb level of support and customer service.

You can even arrange your upgrade with us, when the time comes, rather than talk to your operator. By organising it through Maher Phones instead, you can bag another deal that’s equal or better than anything they’re offering.

The bottom line is that Maher Phones takes all of the best handsets and all of the best tariffs, and presents them to you in a simple, easy-to-understand fashion that makes choosing your new phone a pleasure – and an exercise in savvy, bargain-rich shopping.

We also offer the same great value and personal service in mobile broadband and in the fixed line sector, and offer superb TV, broadband and talk packages.

So why waste time elsewhere when it’s all right here at Maher Phones – the ultimate ‘one-stop-shop’ for all things mobile, landline and home entertainment.</p>
</p>

</div>
