.headSec {
    background: url("/assets/banner3.jpg");
    min-height:20px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:20px;
    overflow: auto;
   
    
}


.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;
    
}
.foot {
    min-height: 80px;
    background-color: #2600ff;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    
    
}

.headSec ul {

	display: block;
	position: left;
	width: 90%;
	margin: 0 auto 0 auto;
}

.headSec ul > *{
	display: block;
	width: 100%;
	color: #000;
	margin-top: .5em;
}


.headSec ul > * > a{
	display: inline-block;
	position: relative;
	top: 1em;
	color: #000;
	margin-right: 1.5em;
	text-decoration: none;
	opacity: 0;
	transition: all 1s;
}

.headSec ul > * > a:first-child{
	display: block;
	width: 100%;
	opacity: .75;
	margin: 0;
	font-size: 2em;
	top: 0;
}

.headSec ul  > *:hover{
	border-bottom: .01mm solid;
	
}

.headSec ul  > *:hover > a{
	opacity: 1;
	top: 0;
}

.intro {
    text-align: center;
    background-color: powderblue;
    font-family: verdana;
    font-size: 100%;
}

#phonesContainer {
    width: 100%;
    text-align: center;
    
    
}


#phonesContainer h1 {
   display: block;
    color: #0013e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

.itemphone {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
}


.phonehols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
   
}


.phonehols h1 {
   display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.phonehols p {
   display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.phoneIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #ef0003;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}
